{{ define "main" }}

<h1>{{- .Params.post_title -}}</h1>

{{- .Content -}}

<h2>Latest Entries</h2>
<p>Lancaster Hemp is an organic hemp farm located in Lancaster, PA. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

{{ range (where .Site.RegularPages.ByWeight "Section" "blog" ) }}
    <div>
        <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    </div>
{{ end }}
<p>
    <a href="{{ "/blog" | relURL }}">View All Entries ></a>
</p>

<!-- <a href="{{ "/tech" | relURL }}">Check out the tech</a> -->

{{ end }}
